.header {
  background-color: #e74c3c;
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px 24px 0 24px;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}

.header .tab-name-container {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .tab-name-container .icon {
  margin: 8px 0;
  margin-right: 8px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.header .tab-name-container .icon ion-icon {
  font-size: 1.5rem;
}

.header .tab-name-container .title {
  margin: 8px 0;
  font-size: 1.5rem;
}

.header .tab-name-container .actions {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .tab-name-container .actions ion-icon {
  margin-left: 16px;
  font-size: 1.5rem;
}

.page-container {
  overflow: hidden;
  height: 100%;
}

.intro-avatar-container {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #e74c3c;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px;
}

.intro-avatar-container .intro-title {
  color: #fff;
  font-size: 2rem;
  font-weight: bolder;
}

.intro-avatar-container .intro-subtitle {
  color: #fff;
  font-size: 1.5rem;
}

.intro-avatar-container .intro-avatar {
  height: 80%;
  width: 80%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.get-started-container {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px;
}

.get-started-container .get-started-message {
  font-size: 1.8rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.get-started-container .get-started-btn {
  margin-top: 16px;
  justify-self: flex-end;
}

.body {
  height: 85%;
  -webkit-transform: translate(0, -10%);
          transform: translate(0, -10%);
}

.login-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-body .sign-in-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-body .sign-in-card .user-avatar {
  width: 100%;
  height: 100px;
  color: #e74c3c;
}

.login-body .sign-in-card .form-container-grid {
  width: 100%;
}

.login-body .sign-in-card .form-container-grid .form-input {
  --font-size: 1.2rem;
  margin: 10% 0;
}

.login-body .sign-in-card .form-container-grid .btn-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.login-body {
  height: 75%;
  -webkit-transform: translate(0, -15%);
          transform: translate(0, -15%);
}

.login-header {
  background-color: #e74c3c;
  height: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px 24px 0 24px;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}

.login-header .screen-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto 0;
}

.login-header .screen-name .title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 8px 0;
}

.login-header .screen-name .description {
  color: #fff;
  font-size: 1rem;
}

.announcement-list {
  overflow-y: auto;
  padding: 16px;
  height: 100%;
}

.announcement-list .school-card {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  flex-direction: column;
  border-radius: 16px;
  background-color: #fff;
  margin-bottom: 4%;
}

.announcement-list .school-card .author {
  background-color: #e74c3c;
  padding: 8px 12px;
  margin: 12px 0 0 0px;
  color: #fff;
  border-radius: 0 0 16px 16px;
}

.announcement-list .school-card .card-title {
  margin: 12px 12px 0 12px;
  font-weight: bold;
  font-size: 2rem;
}

.announcement-list .school-card .post-image-card-list {
  margin: 12px 12px 0 12px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.announcement-list .school-card .post-image-card-list .post-image-card {
  padding: 2px;
}

.announcement-list .school-card .post-image-card-list .post-image-card .post-image-thumbnail {
  background-color: #c1c1c1;
  --size: 100%;
  height: 160px;
}

.announcement-list .school-card .card-message {
  margin: 12px 12px 0 12px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.album-progress-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.album-progress-container .album-progress {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.album-progress-container .album-progress .progress-image {
  width: 35%;
}

.image-thumbnail-container {
  margin: 1%;
  display: inline-block;
  width: 48%;
  border: 1px solid #000;
}

.image-thumbnail-container .image-thumbnail {
  -o-object-fit: cover;
     object-fit: cover;
  height: 180px;
}

.album-video-player {
  width: 100%;
}

.video-player {
  background-color: #000;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.video-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px 8px;
  margin: 8px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.video-card .play-icon {
  width: 64px;
  height: 64px;
  color: #e74c3c;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.video-card .video-meta {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 8px;
}

.video-card .video-meta .download-icon {
  color: #e74c3c;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.video-card .video-meta .video-title {
  word-break: break-all;
  font-size: 1rem;
  color: #e74c3c;
}

.video-card .video-meta .video-date {
  font-size: 0.8rem;
  color: #262626;
}

.spinner-color-white {
  color: #fff;
}

.gallery-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #000;
}

.gallery-page .image-actions {
  position: fixed;
  width: 100%;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding: 16px;
}

.gallery-page .image-actions .download-icon,
.gallery-page .image-actions .back-icon {
  height: 40px;
  width: 40px;
}

.gallery-page .slides-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.gallery-page .slides-container .image-slide {
  width: 100vw;
}

.gallery-page .slides-container .image-slide .gallery-image {
  width: 100%;
}

.album-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8px;
}

.album-card .album-thumbnail {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 8px 8px 0 0;
}

.album-card .album-meta {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.album-card .album-meta .album-title {
  font-weight: bold;
  margin: 8px 0 4px 8px;
  font-size: 1.5rem;
  color: #e74c3c;
}

.album-card .album-meta .album-date {
  color: #262626;
  margin: 0 0 4px 8px;
  font-size: 0.8rem;
}

.url-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8px;
}

.url-card .url-thumbnail {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 8px 8px 0 0;
}

.url-card .url-meta {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.album-list {
  overflow-y: auto;
  padding: 16px;
  width: 100%;
}
/*# sourceMappingURL=Tab.css.map */